<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Recipes</title>
	<style>
		.recipe {
			margin-bottom: 20px;
		}
		.recipe-actions {
			margin-top: 10px;
		}
		.modify-btn {
			margin-right: 10px;
		}
		.recipe-btn {
			width: 300px;
			height: 100px;
		}
	</style>
</head>
<body style="margin: 0">
	{% include 'header.html' %}
	<div class="container">
		<h2 id="cookbookTitle">{{ cookbook_title }}</h2>
        <button class="add-btn" onclick="addRecipe()">Add Recipe</button>
		<div class="recipe-container">
			{% for recipe in recipes %}
			<div class="recipe">
				<button class="recipe-btn" onclick="viewRecipe('{{ recipe.id }}')">
					<h3 name="title">{{ recipe.title }}</h3>
					<p name="description">{{ recipe.description }}</p>
				</button>
				<input type="hidden" name="category" value="{{ recipe.category }}">
				<input type="hidden" name="visibility" value="{{ recipe.visibility }}">
				<div class="recipe-actions">
					<button class="modify-btn" onclick="modifyRecipe('{{ recipe.id }}')">Modify</button>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>

	<script>		
		function viewRecipe(recipeId) {
			window.location.href = `/api/v1/recipe/get_by_id/${recipeId}`;
		}
		
		function modifyRecipe(recipeId) {
			window.location.href = "/api/v1/recipe/updateRecipeView/" + recipeId;
		}

        function addRecipe() {
			var currentUrl = window.location.href;
			var cookbookId = currentUrl.substring(currentUrl.lastIndexOf('/') + 1);
			document.cookie = `cookbookId=${cookbookId}; path=/`;
            window.location.href = `/api/v1/cookbook/get_user_recipes/{{ current_user.id }}`;
        }
	</script>
	<form method="post">
		<input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
	</form>
</body>
</html>