<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Create Recipe</title>
	<style>
		.container {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		form {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			width: 300px;
			margin-top: 50px;
		}

		label {
			margin-top: 10px;
		}

		input, textarea {
			width: 100%;
		}

		button {
			margin-top: 20px;
		}
		
	</style>
</head>
<body style="margin: 0">
	{% include 'header.html' %}
	<div class="container">
		<form id="createRecipeForm">
			{{ form.csrf_token }}
			<h2>Create Recipe</h2>
			<label for="recipeName"><b>Recipe Name</b></label>
			<input type="text" placeholder="Enter Recipe Name" name="title" required>

			<label for="ingredients"><b>Category</b></label>
			<textarea placeholder="Enter Category" name="category" required></textarea>

			<label for="description"><b>Description</b></label>
			<textarea placeholder="Enter Recipe Description" name="description" required></textarea>

			<label for="visibility"><b>Visibility</b></label>
			<select name="visibility" required>
				<option value="PUBLIC">PUBLIC</option>
				<option value="PRIVATE">PRIVATE</option>
			</select>

			<input type="hidden" name="author_id" value="1">

			<button type="submit">Create Recipe</button>
		</form>
	</div>

	<script>
		document.getElementById("createRecipeForm").addEventListener("submit", function(event) {
			event.preventDefault();

			var form = document.getElementById("createRecipeForm");
			var formData = new FormData(form);

			var data = {
				"title": formData.get("title"),
				"description": formData.get("description"),
				"category": formData.get("category"),
				"visibility": formData.get("visibility")
			};

			fetch("/api/v1/recipe/create/1", {
				method: "POST",
				headers: {
					"Content-Type": "application/json"
				},
				body: JSON.stringify(data)
			})
			.then(response => {
				if (response.ok) {
					console.log("Recipe created successfully");
					window.location.href = "/api/v1/recipe/get_all"; // Redirect to the get_all URL
				} else {
					console.error("Failed to create recipe");
				}
			})
			.catch(error => {
				console.error("An error occurred while creating recipe:", error);
			}); 
		});
	</script>
</body>
</html>