<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Create Cookbook</title>
	<style>
		.container {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		form {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			width: 300px;
			margin-top: 50px;
		}

		label {
			margin-top: 10px;
		}

		input, textarea {
			width: 100%;
		}

		button {
			margin-top: 20px;
		}
	</style>
</head>
<body>
	<div class="container">
		<form id="createCookbookForm">
			<h1>Welcome to Salt and Paper!</h1><br><br>
			<h2>Create Cookbook</h2>
			<label for="cookbookName"><b>Cookbook Name</b></label>
			<input type="text" placeholder="Enter Cookbook Name" name="title" required>

			<label for="category"><b>Category</b></label>
			<textarea placeholder="Enter Cookbook Category" name="category" required></textarea>

			<label for="description"><b>Description</b></label>
			<textarea placeholder="Enter Cookbook Description" name="description" required></textarea>

			<label for="visibility"><b>Visibility</b></label>
			<select name="visibility" required>
				<option value="PUBLIC">PUBLIC</option>
				<option value="PRIVATE">PRIVATE</option>
			</select>

			<input type="hidden" name="author_id" value="1">

			<button type="submit">Create Cookbook</button>
		</form>
	</div>

	<script>
		document.getElementById("createCookbookForm").addEventListener("submit", function(event) {
			event.preventDefault();

			var form = document.getElementById("createCookbookForm");
			var formData = new FormData(form);

			var data = {
				"title": formData.get("title"),
				"description": formData.get("description"),
				"category": formData.get("category"),
				"visibility": formData.get("visibility")
			};

			fetch("/api/v1/cookbook/create/1", {
				method: "POST",
				headers: {
					"Content-Type": "application/json"
				},
				body: JSON.stringify(data)
			})
			.then(response => {
				if (response.ok) {
					console.log("Cookbook created successfully");
					window.location.href = "/api/v1/cookbook/get_cookbooks/1";
				} else {
					console.error("Failed to create cookbook");
				}
			})
			.catch(error => {
				console.error("An error occurred while creating cookbook:", error);
			}); 
		});
	</script>
</body>
</html>