<!DOCTYPE html>
<html>
  <head>
    <title>My Recipe Website</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <header>
      <h1>Welcome to My Recipe Website</h1>
    </header>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        {% if current_user.is_authenticated == False %}
        <li><a href="{{url_for('auth_api.login')}}">Login</a></li>
        <li><a href="{{url_for('auth_api.register')}}">Sign Up</a></li>
        {% else %}
        <li><a href="{{url_for('auth_api.logout')}}">Log out</a></li>
        {% endif %}
        <li><a href="contact.html">Contact Us</a></li>
      </ul>
    </nav>
    <main>
      <section>
        <h2>Featured Recipes</h2>
        <article>
          <h3>Spaghetti Carbonara</h3>
          <img src="images/spaghetti-carbonara.jpg" alt="Spaghetti Carbonara" />
          <p>
            A delightful classic Italian dish that is quick and easy to make.
            Perfect for a quick weeknight dinner.
            <a href="spaghetti-carbonara.html">Read more...</a>
          </p>
        </article>
        <article>
          <h3>Chicken Tikka Masala</h3>
          <img
            src="images/chicken-tikka-masala.jpg"
            alt="Chicken Tikka Masala"
          />
          <p>
            A popular Indian dish made with tender chicken pieces marinated in a
            tangy and creamy sauce.
            <a href="chicken-tikka-masala.html">Read more...</a>
          </p>
        </article>
      </section>
    </main>
    <footer>
      <p>© 2023 My Recipe Website. All rights reserved.</p>
    </footer>
  </body>
</html>
