<!DOCTYPE html>
<html>
  <head>
    <title>Login to My Recipe Website</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <header>
      <h1>Login to My Recipe Website</h1>
    </header>
    <main>
      <form action="" method="POST">
        {{ form.hidden_tag() }}
        <p>{{ form.username }}</p>
        <p>{{ form.password }}</p>
        <p>
          {% for error in form.username.errors or form.password.errors %}
          <span style="color: red">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>{{ form.submit }}</p>
      </form>
      <a href="{{url_for('auth_api.register')}}">Don't have an account? Sign Up</a>
      <br />
      <a href="{{url_for('home')}}">Continue as guest</a>
    </main>
    <footer>
      <p>© 2023 My Recipe Website. All rights reserved.</p>
    </footer>
  </body>
</html>
