<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="js/script.js"></script>
	<style>
		
	</style>
</head>
<body style="margin: 0">
	<iframe id="header-frame" src="/api/v1/recipe/header" frameborder="0"></iframe>
	<div class="container">
		<form>
			{{ form.csrf_token }}
			<h2>Login</h2>
			<label for="username"><b>Username</b></label>
			<input type="text" placeholder="Enter Username" name="username" required>
			<label for="password"><b>Password</b></label>
			<input type="password" placeholder="Enter Password" name="password" required>
			<button type="submit">Login</button>
		</form>
	</div>
</body>
</html>
