<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Recipes</title>
	<style>
		.recipe {
			margin-bottom: 20px;
		}
		.recipe-actions {
			margin-top: 10px;
		}
		.modify-btn,
		.delete-btn {
			margin-right: 10px;
		}
	</style>
</head>
<body>
	<div class="container">
		<h1>Welcome to Salt and Paper!</h1><br><br>
		<h2>My Recipes</h2>
		<div class="recipe-container">
			{% for recipe in recipes %}
			<div class="recipe">
				<h3 name="title">{{ recipe.title }}</h3>
				<p name="description">{{ recipe.description }}</p>
				<input type="hidden" name="category" value="{{ recipe.category }}">
				<input type="hidden" name="visibility" value="{{ recipe.visibility }}">
				<div class="recipe-actions">
					<button class="modify-btn" onclick="modifyRecipe('{{ recipe.id }}')">Modify</button>
					<button class="delete-btn" onclick="deleteRecipe('{{ recipe.id }}', '{{ recipe.title }}', '{{ recipe.description }}', '{{ recipe.category }}', '{{ recipe.visibility }}')">Delete</button>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>

	<!-- JavaScript functions for modifying and deleting recipes -->
	<script>
		function modifyRecipe(recipeId, title, description, category, visibility) {
			window.location.href = "/api/v1/recipe/updateRecipeView/" + recipeId;
		}

		function deleteRecipe(recipeId, title, description, category, visibility) {
			// Output the details
			console.log("Recipe ID: " + recipeId);
			console.log("Title: " + title);
			console.log("Description: " + description);
			console.log("Category: " + category);
			console.log("Visibility: " + visibility);

			// Add your delete logic here
		}
	</script>
</body>
</html>
