<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Search Results</title>
	<style>
		.recipe {
			margin-bottom: 20px;
		}
		.recipe-actions {
			margin-top: 10px;
		}
		.recipe-btn {
			width: 300px;
			height: 100px;
		}
		
	</style>
</head>
<body style="margin: 0">
	<div class="container">
		{% include 'header.html' %}
		<h2>Search Results</h2>
		{% if current_user.is_authenticated == True %}
		<button class="create-recipe-btn" onclick="createRecipe()">Create Recipe</button>
		{% endif %}
		<br><br>
		<div class="recipe-container">
			<input type="hidden" name="user_recipes" value="{{ recipes }}">
			{% for recipe in recipes %}
			<div class="recipe">
				<button class="recipe-btn" onclick="viewRecipe('{{ recipe.id }}')">
					<h3 name="title">{{ recipe.title }}</h3>
					<p name="description">{{ recipe.description }}</p>
				</button>
				<input type="hidden" name="id" value="{{ recipe.id }}">
				<input type="hidden" name="title" value="{{ recipe.title }}">
				<input type="hidden" name="description" value="{{ recipe.description }}">
				<input type="hidden" name="category" value="{{ recipe.category }}">
				<input type="hidden" name="visibility" value="{{ recipe.visibility }}">
				<input type="hidden" name="author_id" value="{{ recipe.author_id }}">
			</div>
			{% endfor %}
		</div>
	</div>

	<!-- JavaScript functions for modifying and deleting recipes -->
	<script>
		function viewRecipe(recipeId) {
			window.location.href = `/api/v1/recipe/get_by_id/${recipeId}`;
		}

		function createRecipe() {
			window.location.href = "/api/v1/recipe/create_recipe"
		}
	</script>
</body>
</html>